<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <% if(subtitle !== '메인') { %>
        <title><%= title %> | <%= subtitle %></title>
    <% } else { %>
        <title><%= title %></title>
    <% } %>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/main/img/logo-dark.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/main/img/logo-dark.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/main/img/logo-dark.png">
    <link rel="manifest" href="/main/site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="/main/img/logo-dark.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="/main/vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="/main/vendor/tiny-slider/dist/tiny-slider.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/main/css/theme.min.css">
    <!--Project JS-->
    <script src="/main/js/header.js" defer></script>
</head>
<!-- Body-->
<body class="handheld-toolbar-enabled">
<main class="page-wrapper">
    <!-- Navbar Marketplace-->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <header class="bg-light shadow-sm navbar-sticky">
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="container"><a class="navbar-brand d-none d-sm-block flex-shrink-0 me-4 order-lg-1" href="/"><img src="/main/img/logo-dark.png" width="50" alt="Cartzilla"></a><a class="navbar-brand d-sm-none me-2 order-lg-1" href="/"><img src="/main/img/logo-icon.png" width="74" alt="Cartzilla"></a>
                <!-- Toolbar-->
                <div class="navbar-toolbar d-flex align-items-center order-lg-3">
                    <div class="input-group" style="width:100%">
                        <i class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                        <input class="form-control rounded-start" type="text" placeholder="상품을 입력해주세요.">
                    </div>
                    <% if(isLogin) { %>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button><a class="navbar-tool d-none d-lg-flex" href="dashboard-favorites.html"><span class="navbar-tool-tooltip">Favorites</span>
                            <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-heart"></i></div></a>
                        <div class="navbar-tool dropdown ms-2">
                            <a class="navbar-tool-icon-box border dropdown-toggle" href="dashboard-sales.html"><img src="<%= profileImage %>" width="32" alt="Createx Studio"></a><a class="navbar-tool-text ms-n1" href="#"><small><%= nickname %></small><%= name %></a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <div style="min-width: 14rem;">
                                    <h6 class="dropdown-header">Account</h6><a class="dropdown-item d-flex align-items-center" href="/myprofile"><i class="ci-settings opacity-60 me-2"></i>마이 프로필</a><a class="dropdown-item d-flex align-items-center" href="dashboard-purchases.html"><i class="ci-basket opacity-60 me-2"></i>Purchases</a><a class="dropdown-item d-flex align-items-center" href="dashboard-favorites.html"><i class="ci-heart opacity-60 me-2"></i>Favorites<span class="fs-xs text-muted ms-auto">4</span></a>
                                    <div class="dropdown-divider"></div>
                                    <h6 class="dropdown-header">Seller Dashboard</h6><a class="dropdown-item d-flex align-items-center" href="dashboard-sales.html"><i class="ci-dollar opacity-60 me-2"></i>Sales<span class="fs-xs text-muted ms-auto">$1,375.00</span></a><a class="dropdown-item d-flex align-items-center" href="dashboard-products.html"><i class="ci-package opacity-60 me-2"></i>Products<span class="fs-xs text-muted ms-auto">5</span></a><a class="dropdown-item d-flex align-items-center" href="dashboard-add-new-product.html"><i class="ci-cloud-upload opacity-60 me-2"></i>Add New Product</a><a class="dropdown-item d-flex align-items-center" href="dashboard-payouts.html"><i class="ci-currency-exchange opacity-60 me-2"></i>Payouts</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item d-flex align-items-center" href="#" id="logoutBtn"><i class="ci-sign-out opacity-60 me-2"></i>로그아웃</a>
                                </div>
                            </div>
                        </div>
                    <% } else { %>
                        <button class="btn btn-accent ms-2" type="button" onclick="window.location.href ='/login'">로그인</button>
                    <% } %>
                </div>
                <div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse">
                    <!-- Search-->
                    <div class="input-group d-lg-none my-3"><i class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                        <input class="form-control rounded-start" type="text" placeholder="Search marketplace">
                    </div>
                    <!-- Categories dropdown-->
                    <ul class="navbar-nav navbar-mega-nav pe-lg-2 me-lg-2">
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle ps-lg-0" href="#" data-bs-toggle="dropdown" style="font-size: 15px"><i class="ci-menu align-middle mt-n1 me-2"></i>상품 카테고리</a>
                            <ul class="dropdown-menu py-1">
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Photos</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item product-title fw-medium"><a href="marketplace-category.html">All Photos<i class="ci-arrow-right fs-xs ms-1"></i></a></li>
                                        <li class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Abstract</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Animals</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Architecture</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Beauty &amp; Fashion</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Business</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Education</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Food &amp; Drink</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Holidays</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Industrial</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">People</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Sports</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Technology</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Graphics</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item product-title fw-medium"><a href="#">All Graphics<i class="ci-arrow-right fs-xs ms-1"></i></a></li>
                                        <li class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Icons</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Illustartions</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Patterns</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Textures</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Web Elements</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">UI Design</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item product-title fw-medium"><a href="marketplace-category.html">All UI Design<i class="ci-arrow-right fs-xs ms-1"></i></a></li>
                                        <li class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">PSD Templates</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Sketch Templates</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Adobe XD Templates</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Figma Templates</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Web Themes</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item product-title fw-medium"><a href="marketplace-category.html">All Web Themes<i class="ci-arrow-right fs-xs ms-1"></i></a></li>
                                        <li class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">WordPress Themes</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Bootstrap Themes</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">eCommerce Templates</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Muse Templates</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Plugins</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Fonts</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item product-title fw-medium"><a href="marketplace-category.html">All Fonts<i class="ci-arrow-right fs-xs ms-1"></i></a></li>
                                        <li class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Blackletter</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Display</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Non Western</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Sans Serif</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Script</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Serif</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Slab Serif</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Symbols</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Add-Ons</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item product-title fw-medium"><a href="marketplace-category.html">All Add-Ons<i class="ci-arrow-right fs-xs ms-1"></i></a></li>
                                        <li class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Photoshop Add-Ons</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Illustrator Add-Ons</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Sketch Plugins</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Procreate Brushes</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">InDesign Palettes</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Lightroom Presets</a></li>
                                        <li><a class="dropdown-item" href="marketplace-category.html">Other Software</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Primary menu-->
                </div>
            </div>
        </div>
    </header>